/* General styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F0D9B5; /* Light beige background */
    color: #000000; /* Dark text color */
}

/* Header styles */
header {
    letter-spacing: 5px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

#logo {
    width: 256px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

#player-turn {
    margin-bottom:10px;
}

/* Form styles */
#name-form {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    height: auto; /* Adjust the height as needed */
}

#name-form > div {
    margin-bottom: 10px; /* Add space between the text boxes */
}

.button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
    margin-top: 20px; /* Add space above the button */
}

.button-container button {
    padding: 15px 30px; /* Increase the padding inside the button */
    font-size: 1.2em; /* Increase the font size of the button text */
    width: auto; /* Optionally set a specific width */
    height: auto; /* Optionally set a specific height */
}

/* Capture area styles */
#capture-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.capture-container {
    width: 150px;
    text-align: center;
}

/* Game container styles */
#game-container {
    display: grid;
    grid-template-rows: repeat(8, 50px); /* Ensure each row has a fixed height */
    grid-template-columns: repeat(8, 50px); /* Ensure each column has a fixed width */
    border: 2px solid #8B4513; /* Brown border around the game container */
    padding: 10px;
    background-color: #D18B47; /* Dark beige background for the game container */
    border-radius: 5px; /* Rounded corners for a modern look */
}

/* Cell styles */
.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px; /* Rounded corners for a modern look */
}

.cell.light {
    background-color: #FFCE9E; /* Light beige color for cells */
}

.cell.dark {
    background-color: #D18B47; /* Dark beige color for cells */
}

/* Piece styles */
.piece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow for a modern look */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.piece::before {
    content: '';
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.piece.p1 {
    background-color: #FF0000; /* Red for Player 1 */
}

.piece.p1::before {
    background-color: #FF6666; /* Lighter red for inner shadow */
}

.piece.p2 {
    background-color: #000000; /* Black for Player 2 */
}

.piece.p2::before {
    background-color: #333333; /* Dark gray for inner shadow */
}
/* Highlight styles */
.highlight {
    background-color: #FFD700; /* Gold color for highlighted cells */
    box-shadow: inset 0 0 10px #FFD700; /* Inset shadow */
    border: .5px solid #FFD700; /* Adds border for better visibility */
}

.selected {
    border: 2px solid #FFD700; /* Gold border to indicate selection */
    box-shadow: 0 0 12px #FFD700; /* Gold shadow for better visibility */
}

/* Modal styles */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    color: black;
}

.modal-text {
    white-space: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.modal-button {
    padding: 10px 20px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #d00000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #760000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover */
}

.modal-button:active {
    background-color: #3a0000; /* Even darker red on active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow on active */
}

